
/** COPYRIGHT Time at Task */

#jsv_left{
    float: left;
    width: 50%;
    padding: 20px;
}

#jsv_right{
    float: right;
    width: 39%;
    padding: 20px;
}

#jsv_form ul{
    margin:0;
    list-style-type:none;
    padding:0;
}

#jsv_form ul li{
    margin: 3px 0 0 0;
}

span.field_error{
	color:red;
	font-size:small;
}

div#flash_errors {
	height:30px;
	padding-top:3px;
	padding-bottom:3px;
	color:#FF2211;
}